.card-container{
  width: 300px;
  height: 230px;
  border-radius: 10px;
  background-color: cadetblue;
  padding: 0.5rem;
}

.card-top{
  display: flex;
  justify-content: space-around;
  height: 30%;
  font-size: 1.6rem;
 
}

.location{
  margin-top: 1rem;
  // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}